.login button{
    height:54px;
    width:160px;
    font-size: 16px;
    background-color: transparent;
    color:#fff;
    border:none;
    outline:none;
    margin-top:200px;
    margin-left:180px;
    border:1px solid white;
    border-radius:8px;
}
.login button:hover{
    cursor:pointer;
}