div{
    margin:8px;
}
.send{
    display: flex;
    justify-content: flex-end;
}
p{
    box-shadow:0px 0px 1px black;
    padding:10px;
}
.recieve{
    display: flex;
    justify-content: flex-start;
}
.recieve p{
    background-color:white;
    color:#0000;
}