@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
  margin:0px;
  box-sizing: border-box;
  padding:0px;
  text-transform: capitalize;
  user-select: none;
}
body{
  background:#CAD5E2;
}
.app{
  background-color:#8D3DAF;
  font-family: 'Poppins', sans-serif;
  height:100vh;
  max-height:800px;
  width:35%;
  margin:auto;
  border-radius:10px;
  position:relative;
  overflow:hidden;
  color:#ffffff;
}
